<!DOCTYPE html>
<html>
  <head>
    <title>Cloundsoud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <script type="text/javascript">
      window.skythings = "<%= image_url('song_art/skythings.png') %>"
      window.biblioremix = "<%= image_url('song_art/biblioremix.jpg') %>"
      window.bloom = "<%= image_url('song_art/bloom.jpg') %>"
      window.bullrun = "<%= image_url('song_art/bullrun.jpg') %>"
      window.dancin = "<%= image_url('song_art/dancin.jpg') %>"
      window.danger = "<%= image_url('song_art/danger.jpg') %>"
      window.jackal = "<%= image_url('song_art/jackal.jpg') %>"
      window.ktn = "<%= image_url('song_art/ktn.jpg') %>"
      window.lowtide = "<%= image_url('song_art/lowtide.jpg') %>"
      window.medasin = "<%= image_url('song_art/medasin.jpg') %>"
      window.mumbai = "<%= image_url('song_art/mumbai.jpg') %>"
      window.orbital = "<%= image_url('song_art/orbital.jpg') %>"
    </script>

    

    
  </head>

  <body>
    <%= yield %>
  </body>
</html>

