<!DOCTYPE html>
<html>
  <head>
    <title>Cloundsoud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <script type="text/javascript">
      window.skythings = "<%= image_url('skythings.png') %>";
      window.biblioremix = "<%= image_url('biblioremix.jpg') %>";
      window.bloom = "<%= image_url('bloom.jpg') %>";
      window.bullrun = "<%= image_url('bullrun.jpg') %>";
      window.dancin = "<%= image_url('dancin.jpg') %>";
      window.danger = "<%= image_url('danger.jpg') %>";
      window.jackal = "<%= image_url('jackal.jpg') %>";
      window.ktn = "<%= image_url('ktn.jpg') %>";
      window.lowtide = "<%= image_url('lowtide.jpg') %>";
      window.medasin = "<%= image_url('medasin.jpg') %>";
      window.mumbai = "<%= image_url('mumbai.jpg') %>";
       window.orbital = "<%= image_url('orbital.jpg') %>";
    </script>



  </head>

  <body>
    <%= yield %>
  </body>
</html>
